p#endpoint_url {
  background-color: black;
  color: green;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}